body {
  margin-top: 20px;
}

.canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.chart {
  width:100%;
}

.lastUpdatedTimeStamp {
  font-size: 11px;
  color: #777;
}

.footer {
  margin-top: 10px !important;
  background-color: #e3e3e3;
}
